{% extends 'base.html' %}
{% block content %}
<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

    <div class="column is-one-third">
        <div class="block">
            <div class="">
                <div class="">
                    <div class="border-0 rounded-lg mt-0 mb-3">
                        <div class="justify-content-center">
                            <div id="error_div"></div>
                          <h3 class="font-weight-light my-4 text-center title is-4">Forgot Password?</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                      <label for="id_email">Email:</label>
                                        <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
                                    </div>
                                </div>
                            </div>
                                <div class="form-row">
                                  <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-dark button is-success is-fullwidth is-medium mt-5">Submit
                                        </button>
                                    </div>
                                 </div>
                               </div>
                            </form>
                        </div>
                        <div class="text-center">
                            <div class="small">
                                <a href="#">Create A New Account</a><br><br>
                                <a href="{% url 'dwitter:login' %}">Back To Login</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </div>
{% endblock content %}